AllInOne: true
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
ContinuationIndent: 4
IndentCaseLabels: false
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCasesOnASingleLine: false
PointerAlignment: Left
SpaceAfterCStyleCast: false
SortIncludes: false
InsertFinalNewline: true
RemoveSemicolon: false
Standard: C11
